In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


tags = pd.read_csv('H:/ml-latest/tags.csv')


ratings = pd.read_csv('H:/ml-latest/ratings.csv')


movies = pd.read_csv('H:/ml-latest/movies.csv')
                       
movie_titles = movies.title.tolist()

In [98]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [99]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [100]:
tags.head()

   userId  movieId             tag   timestamp
0      28    63062  angelina jolie  1263047558
1      40     4973          Poetic  1436439070
2      40   117533         privacy  1436439140
3      57      356   life positive  1291771526
4      73    81591   psychological  1296948434

In [101]:
df = movies.join(ratings, on=['movieId'], rsuffix='_r').join(tags, on=['movieId'], rsuffix='_t')
del df['movieId_r']
del df['userId_t']
del df['movieId_t']
del df['timestamp_t']

In [102]:
df.head()

,movieId,title,genres,userId,rating,timestamp,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,1.5,1217895807,Poetic
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,4.0,1217896246,privacy
2,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,1217896556,life positive
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1,4.0,1217896523,psychological
4,5,Father of the Bride Part II (1995),Comedy,1,4.0,1217896150,self discovery

In [103]:
rp = df.pivot_table(columns=['movieId'],index =['userId'],values='rating')
rp.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,34532,34534,34536,34538,34540,34542,34548,34552,34579,34583
userId,,,,,,,,,,,,,,,,,,,,,
1,1.5,4.0,4.0,4.0,4.0,3.0,4.0,3.0,0.5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
rp = rp.fillna(0)
rp.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,34532,34534,34536,34538,34540,34542,34548,34552,34579,34583
userId,,,,,,,,,,,,,,,,,,,,,
1,1.5,4.0,4.0,4.0,4.0,3.0,4.0,3.0,0.5,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
# Spark setup 

# Create working directory for easy access documents
import os
os.chdir("C:/Users/asaha223/Documents/myspark")
os.curdir

# Configure the environment. Set this up to the directory where Spark is installed
if 'SPARK_HOME' not in os.environ:
    os.environ['SPARK_HOME']='H:/Documents/spark-2.0.2-bin-hadoop2.7'

# Create a variable for our root path
SPARK_HOME = os.environ['SPARK_HOME']

# Import com.databricks
SUBMIT_ARGS = "--packages com.databricks:spark-csv_2.10:1.4.0 pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = SUBMIT_ARGS

# Add the following paths to the system path. Check your installation for these zip files. 
# The names might change as versions change.

import sys
sys.path.insert(0,os.path.join(SPARK_HOME,"python"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","pyspark.zip"))
sys.path.insert(0,os.path.join(SPARK_HOME,"python","lib","py4j-0.9-src.zip"))

# Initiate Spark context. Once this is done all other applications can run
from pyspark import SparkContext
from pyspark import SparkConf

# Optionally configure Spark Settings
conf=SparkConf()
conf.set("spark.executor.memory", "8g")
conf.set("spark.cores.max", "4")
conf.setAppName("movielens")

# Initialize SparkContext. Run only once. Otherwise you get multiple Context Error.
sc = SparkContext('local', conf=conf)

# Create a SQL Context from Spark context
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=movielens, master=local) created by __init__ at <ipython-input-10-f473c7fadb71>:39

In [106]:
links = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load('H:/ml-latest/links.csv')

In [107]:
(links)

DataFrame[movieId: int, imdbId: int, tmdbId: int]

In [108]:
movies = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load('H:/ml-latest/movies.csv')
movies.dtypes

[('movieId', 'int'), ('title', 'string'), ('genres', 'string')]

In [109]:
ratings = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load('H:/ml-latest/ratings.csv')
(ratings)

DataFrame[userId: int, movieId: int, rating: double, timestamp: int]

In [110]:
tags = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load('H:/ml-latest/tags.csv')
(tags)

DataFrame[userId: int, movieId: int, tag: string, timestamp: string]

In [111]:

ratings_file = os.path.join('H:/ml-latest/ratings.csv')

ratings_raw_data = sc.textFile(small_ratings_file)

ratings_raw_data_header = ratings_raw_data.take(1)[0]

In [112]:
ratings_data = ratings_raw_data.filter(lambda line: line!=small_ratings_raw_data_header) .map(lambda line: line.split(",")).map(lambda tokens: (tokens[0],tokens[1],tokens[2])).cache()

In [113]:
ratings_data.count()

105339

In [114]:
movies_file = os.path.join('H:/ml-latest/movies.csv')

movies_raw_data = sc.textFile(small_movies_file)
movies_raw_data_header = small_movies_raw_data.take(1)[0]

movies_data = small_movies_raw_data.filter(lambda line: line!=small_movies_raw_data_header).map(lambda line: line.split(",")).map(lambda tokens: (tokens[0],tokens[1])).cache()
  
movies_titles = small_movies_data.map(lambda x: (int(x[0]),x[1]))

movies_titles.take(3)

[(1, 'Toy Story (1995)'),
 (2, 'Jumanji (1995)'),
 (3, 'Grumpier Old Men (1995)')]

In [115]:
training_RDD, test_RDD = ratings_data.randomSplit([7, 3], seed=0)
test_for_predict_RDD = test_RDD.map(lambda x: (x[0], x[1]))

In [135]:
from pyspark.mllib.recommendation import ALS
from pyspark.mllib.recommendation import MatrixFactorizationModel
import math

seed = 5
iterations = 10
regularization_parameter = 0.1
ranks = [4, 8, 12]
errors = [0, 0, 0]
err = 0
tolerance = 0.02

min_error = float('inf')
best_rank = -1
best_iteration = -1
for rank in ranks:
    model = ALS.train(training_RDD, rank, seed=seed, iterations=iterations,
                      lambda_=regularization_parameter)
    predictions = model.predictAll(test_for_predict_RDD).map(lambda r: ((r[0], r[1]), r[2]))
    rates_and_preds = test_RDD.map(lambda r: ((int(r[0]), int(r[1])), float(r[2]))).join(predictions)
    error = math.sqrt(rates_and_preds.map(lambda r: (r[1][0] - r[1][1])**2).mean())
    errors[err] = error
    err += 1
    print (rank, error)
    if error < min_error:
        min_error = error
        best_rank = rank
model_path = os.path.join('models', 'movie_lens_als')
print (best_rank)
print (error)

4 0.9014162892199573
8 0.9032638113651675
12 0.9042688296268451
4
0.9042688296268451

In [117]:
predictions.take(3)

[((344, 667), 2.421637528909871),
 ((444, 667), 3.1647568228921727),
 ((403, 44828), 2.655340436821786)]

In [118]:
rates_and_preds.take(10)

[((331, 2123), (2.0, 2.9492579776055723)),
 ((499, 3101), (4.0, 3.33074212240773)),
 ((520, 4022), (5.0, 3.910487431407323)),
 ((167, 13), (4.5, 3.3280152296677383)),
 ((109, 3269), (3.0, 3.434422912167668)),
 ((88, 2746), (4.5, 4.176957764495906)),
 ((206, 318), (2.5, 3.528732215635223)),
 ((354, 4966), (4.0, 2.5697000048194774)),
 ((213, 1931), (4.0, 3.7086123682358263)),
 ((232, 87430), (3.5, 2.702922137932945))]

In [120]:
complete_ratings_file = os.path.join('H:/ml-latest/ratings.csv')
complete_ratings_raw_data = sc.textFile(complete_ratings_file)
complete_ratings_raw_data_header = complete_ratings_raw_data.take(1)[0]

ratings_data = complete_ratings_raw_data.filter(lambda line: line!=complete_ratings_raw_data_header)\
    .map(lambda line: line.split(",")).map(lambda tokens: (int(tokens[0]),int(tokens[1]),float(tokens[2]))).cache()

print (ratings_data.count())

105339

In [121]:
def get_counts_and_averages(ID_and_ratings_tuple):
    nratings = len(ID_and_ratings_tuple[1])
    return ID_and_ratings_tuple[0], (nratings, float(sum(x for x in ID_and_ratings_tuple[1]))/nratings)

movie_ID_with_ratings_RDD = (ratings_data.map(lambda x: (x[0], x[1])).groupByKey())
movie_ID_with_avg_ratings_RDD = movie_ID_with_ratings_RDD.map(get_counts_and_averages)
movie_rating_counts_RDD = movie_ID_with_avg_ratings_RDD.map(lambda x: (x[0], x[1][0]))

In [122]:
movie_rating_counts_RDD.take(3)

[(1, 113), (2, 29), (3, 73)]

In [123]:
new_user_ID = 0


new_user_ratings = [
     (0,260,4), # Star Wars (1977)
     (0,1,3), # Toy Story (1995)
     (0,16,3), # Casino (1995)
     (0,25,4), # Leaving Las Vegas (1995)
     (0,32,4), # Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
     (0,335,1), # Flintstones, The (1994)
     (0,379,1), # Timecop (1994)
     (0,296,3), # Pulp Fiction (1994)
     (0,858,5) , # Godfather, The (1972)
     (0,50,4) # Usual Suspects, The (1995)
    ]
new_user_ratings_RDD = sc.parallelize(new_user_ratings)
print (new_user_ratings_RDD.take(10))

[(0, 260, 4), (0, 1, 3), (0, 16, 3), (0, 25, 4), (0, 32, 4), (0, 335, 1), (0, 379, 1), (0, 296, 3), (0, 858, 5), (0, 50, 4)]

In [124]:
data_with_new_ratings_RDD = ratings_data.union(new_user_ratings_RDD)

In [125]:
from time import time

t0 = time()
new_ratings_model = ALS.train(data_with_new_ratings_RDD, best_rank, seed=seed, 
                              iterations=iterations, lambda_=regularization_parameter)
tt = time() - t0

print (round(tt,3))

4.532

In [126]:
new_user_ratings_ids = map(lambda x: x[1], new_user_ratings) 

new_user_unrated_movies_RDD = (complete_movies_data.filter(lambda x: x[0] not in new_user_ratings_ids).map(lambda x: (new_user_ID, x[0])))


new_user_recommendations_RDD = new_ratings_model.predictAll(new_user_unrated_movies_RDD)

In [127]:

new_user_recommendations_rating_RDD = new_user_recommendations_RDD.map(lambda x: (x.product, x.rating))
new_user_recommendations_rating_title_and_count_RDD = \
 new_user_recommendations_rating_RDD.join(movies_titles).join(movie_rating_counts_RDD)
new_user_recommendations_rating_title_and_count_RDD.take(10)

[(3, ((2.2118539613529595, 'Grumpier Old Men (1995)'), 73)),
 (6, ((3.475632105760325, 'Heat (1995)'), 61)),
 (9, ((1.1117522863799039, 'Sudden Death (1995)'), 121)),
 (12, ((2.0400375890761104, 'Dracula: Dead and Loving It (1995)'), 20)),
 (15, ((2.207370182537911, 'Cutthroat Island (1995)'), 73)),
 (18, ((2.7927847981088947, 'Four Rooms (1995)'), 97)),
 (21, ((3.0205165405305863, 'Get Shorty (1995)'), 100)),
 (24, ((1.7556265643767421, 'Powder (1995)'), 273)),
 (27, ((1.962327012135276, 'Now and Then (1995)'), 41)),
 (30,
  ((3.1510140274511684,
    'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'),
   97))]

In [128]:
new_user_recommendations_rating_title_and_count_RDD.take(3)

[(3, ((2.2118539613529595, 'Grumpier Old Men (1995)'), 73)),
 (6, ((3.475632105760325, 'Heat (1995)'), 61)),
 (9, ((1.1117522863799039, 'Sudden Death (1995)'), 121))]

In [129]:
new_user_recommendations_rating_title_and_count_RDD = \
    new_user_recommendations_rating_title_and_count_RDD.map(lambda r: (r[1][0][1], r[1][0][0], r[1][1]))

In [130]:
top_movies = new_user_recommendations_rating_title_and_count_RDD.filter(lambda r: r[2]>=25).takeOrdered(25, key=lambda x: -x[1])

print ('TOP recommended movies (with more than 25 reviews):\n%s' %
        '\n'.join(map(str, top_movies)))

TOP recommended movies (with more than 25 reviews):
('Chungking Express (Chung Hing sam lam) (1994)', 4.225505337439962, 165)
('Richard III (1995)', 4.01227267127226, 103)
('Vanya on 42nd Street (1994)', 3.988263115829411, 43)
('"Hate (Haine', 3.945953676631599, 112)
('Being Human (1993)', 3.9383698448061697, 110)
('Cold Fever (Á köldum klaka) (1995)', 3.9383698448061697, 55)
('Living in Oblivion (1995)', 3.8461862688009427, 95)
('Orlando (1992)', 3.8335217554903878, 151)
('Burnt by the Sun (Utomlyonnye solntsem) (1994)', 3.8283968946650475, 632)
('Blade Runner (1982)', 3.7831637482667633, 279)
('Pulp Fiction (1994)', 3.7820632122420523, 281)
('Taxi Driver (1976)', 3.773072280477395, 37)
('"Hudsucker Proxy', 3.756802541599688, 233)
('To Live (Huozhe) (1994)', 3.756251040225014, 124)
('"Usual Suspects', 3.7545596078591394, 120)
('Anne Frank Remembered (1995)', 3.745896208316042, 27)
('Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 3.7340460815152348, 276)
('Land and Freedom (Tierra y libertad) (1995)', 3.728089972994198, 153)
('Three Colors: Red (Trois couleurs: Rouge) (1994)', 3.720365741366697, 55)
('Kika (1993)', 3.70927044756273, 760)
('Thirty-Two Short Films About Glenn Gould (1993)', 3.673323893504006, 126)
('Fresh (1994)', 3.6709649715588633, 70)
('Song of the Little Road (Pather Panchali) (1955)', 3.6611876138996458, 5678)
('Once Were Warriors (1994)', 3.6566284471837243, 77)
('Six Degrees of Separation (1993)', 3.6095379442909046, 29)

In [132]:
my_movie = sc.parallelize([(0, 500)]) # Quiz Show (1994)
individual_movie_rating_RDD = new_ratings_model.predictAll(new_user_unrated_movies_RDD)
individual_movie_rating_RDD.take(1)

[Rating(user=0, product=32196, rating=3.6030042241526417)]

In [136]:
my_movie = sc.parallelize([(1, 500)]) # Quiz Show (1994)
individual_movie_rating_RDD = model.predictAll(new_user_unrated_movies_RDD)
individual_movie_rating_RDD.take(1)

[]